@import "tailwindcss";

@font-face {
  font-family: "0xProtoNerdFont";
  src: url("/fonts/0xProtoNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@utility font-proto {
  font-family: "0xProtoNerdFont";
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}
